.uploader {
  display: flex;
  flex-direction: column;
}

.uploader input {
  margin: auto;
  padding: 5px;
  margin-top: 10px;
  width: 50%;
  letter-spacing: 2px;
}

.upload {
  margin: auto;
  padding: 5px;
  margin-top: 10px;
  width: 50%;
  letter-spacing: 2px;
}

.spinner {
  text-align: center;
}
